<div class="header-panel shadow-z-2">
</div>
<iframe id="ifr" src="">
</iframe>
<div class="container-fluid main">
    <div class="row col-xs-3 menu">
        <ul>
            <li class="withripple" data-target="#League">League</li>
            <li class="withripple active" data-target="#MyTeam">My Team</li>
            <li class="withripple" data-target="#Players">Players</li>
            <li class="withripple" data-target="#Standings">Standings</li>
            <li class="withripple" data-target="#Scoreboard">Scoreboard</li>
            <li class="withripple" data-target="#Teams">Teams</li>
            <li class="withripple" data-target="#Graphs">Graphs</li>
        </ul>
    </div>
    <div class="pages col-xs-9">
        <div class="row">
            <div class="well page" id="League" style="display: none;">
                {{{header}}}
                League
            </div>
            <div class="well page active" id="MyTeam">
                {{{header}}}
                <div class="row team-players" id="MyTeamPlayers">
                    <div class="list-group">
                        <div class="list-group-item player-row">
                            <div class="row-action-primary">
                                <div class="player-image"></div>
                            </div>
                            <div class="row-content">
                                <div class="list-group-item-heading"><b>Roster</b></div>
                                <p class="list-group-item-text">
                                    <div class="row">
                                        <div class="col-xs-5"></div>
                                        <div class="col-xs-1"><b>Last Game</b></div>
                                        <div class="col-xs-1"><b>3 Game Avg</b></div>
                                        <div class="col-xs-1"><b>% Owned</b></div>
                                        <div class="col-xs-1"><b>% Started</b></div>
                                        <div class="col-xs-1"><b>% Change</b></div>
                                    </div>
                                </p>
                            </div>
                        </div>

                        {{#each roster.players}}
                            <div class="list-group-item player-row">
                                <div class="row-action-primary">
                                    <img class="player-image" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{playerID}}.png&w=200&h=145"
                                         onerror="this.src='http://g.espncdn.com/s/ffllm/14//images/playerpop/design2/no-mugshot-7.png'">
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <b>{{slot}}</b> - {{firstName}} {{lastName}} <span class="list-group-item-subheading"> - ({{position}}) - {{proTeam}} </span>
                                    </div>
                                    <p class="list-group-item-text">
                                        <div class="row">
                                            <div class="col-xs-5"></div>
                                            <div class="col-xs-1">{{lastGamePoints}}</div>
                                            <div class="col-xs-1">{{last3GameAvg}}</div>
                                            <div class="col-xs-1">{{percentOwned}} % </div>
                                            <div class="col-xs-1">{{percentStarted}} %</div>
                                            <div class="col-xs-1">{{percentChange}} %</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        {{/each}}

                        <div class="list-group-item player-row">
                            <div class="row-action-primary">
                                <div class="player-image"></div>
                            </div>
                            <div class="row-content">
                                <div class="list-group-item-heading"></div>
                                <p class="list-group-item-text">
                                <div class="row">
                                </div>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item player-row">
                            <div class="row-action-primary">
                                <div class="player-image"></div>
                            </div>
                            <div class="row-content">
                                <div class="list-group-item-heading"><b>Bench</b></div>
                                <p class="list-group-item-text">
                                    <div class="row">
                                        <div class="col-xs-5"></div>
                                        <div class="col-xs-1"><b>Last Game</b></div>
                                        <div class="col-xs-1"><b>3 Game Avg</b></div>
                                        <div class="col-xs-1"><b>% Owned</b></div>
                                        <div class="col-xs-1"><b>% Started</b></div>
                                        <div class="col-xs-1"><b>% Change</b></div>
                                    </div>
                                </p>
                            </div>
                        </div>

                        {{#each roster.bench}}
                            <div class="list-group-item player-row">
                                <div class="row-action-primary">
                                    <img class="player-image" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{playerID}}.png&w=200&h=145"
                                         onerror="this.src='http://g.espncdn.com/s/ffllm/14//images/playerpop/design2/no-mugshot-7.png'">
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading"><b>{{position}}</b> - {{firstName}} {{lastName}} <span class="list-group-item-subheading"> - {{proTeam}} </span> </div>
                                    <p class="list-group-item-text">
                                        <div class="row">
                                            <div class="col-xs-5"></div>
                                            <div class="col-xs-1">{{lastGamePoints}}</div>
                                            <div class="col-xs-1">{{last3GameAvg}}</div>
                                            <div class="col-xs-1">{{percentOwned}} % </div>
                                            <div class="col-xs-1">{{percentStarted}} %</div>
                                            <div class="col-xs-1">{{percentChange}} %</div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="well page" id="Players" style="display: none;">
                {{{header}}}

            </div>
            <div class="well page" id="Standings" style="display: none;">
                {{{header}}}

            </div>
            <div class="well page" id="Scoreboard" style="display: none;">
                {{{header}}}

            </div>
            <div class="well page" id="Teams" style="display: none;">
                {{{header}}}
            </div>
            <div class="well page" id="Graphs" style="display: none;">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
                {{header}}
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <ul class="nav nav-pills" id="player-type-selection">
                            <li class="graph-position active"><a href="javascript:void(0)">QB</a></li>
                            <li class="graph-position"><a href="javascript:void(0)">RB</a></li>
                            <li class="graph-position"><a href="javascript:void(0)">WR</a></li>
                            <li class="graph-position"><a href="javascript:void(0)">TE</a></li>
                            <li class="graph-position"><a href="javascript:void(0)">K</a></li>
                        </ul>

                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <select id="player-type-team-select" class="form-control chart-select">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <select id="player-type-player-select" class="form-control chart-select">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary">Add to Graph</button>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <canvas id="testChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>