<div class="header-panel shadow-z-2">

</div>
<div class="container-fluid main">
    <div class="row col-xs-3 menu">
        <ul>
            <li class="withripple" data-target="#League">League</li>
            <li class="withripple active" data-target="#MyTeam">My Team</li>
            <li class="withripple" data-target="#Players">Players</li>
            <li class="withripple" data-target="#Standings">Standings</li>
            <li class="withripple" data-target="#Scoreboard">Scoreboard</li>
            <li class="withripple" data-target="#Teams">Teams</li>
        </ul>
    </div>
    <div class="pages col-xs-9">
        <div class="row">
            <div class="well page" id="League" style="display: none;">
                League
            </div>
            <div class="well page active" id="MyTeam">
                <div class="row team-header">
                    <div class="col-xs-4">
                        <img class="team-image" src="{{teamImage}}">
                    </div>
                    <div class="col-xs-4">
                        <H1 class="team-name"><b>{{teamName}}</b></H1>
                        <div class="row">
                            <b>Acquisitions:</b> {{acqusitions}}
                        </div>
                        <div class="row">
                            <b>Trades:</b> {{trades}}
                        </div>
                        <div class="row">
                            <b>Waiver Order:</b> {{waiver.order}} of {{waiver.total}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        {{#record}}
                            <b>Overall</b> {{overall.wins}}-{{overall.losses}}
                            <b>Division</b> {{division.wins}}-{{division.losses}}
                        {{/record}}
                    </div>
                </div>
                <div class="row team-players" id="MyTeamPlayers">
                    <H3>Roster</H3>
                    <div class="list-group">
                        {{#each roster.players}}
                            <div class="list-group-item player-row">
                                <div class="row-action-primary">
                                    <img class="player-image" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{playerID}}.png&w=200&h=145"
                                         onerror="this.src='http://g.espncdn.com/s/ffllm/14//images/playerpop/design2/no-mugshot-7.png'">
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading"><b>{{slot}}</b> - {{firstName}} {{lastName}} </div>
                                    <p class="list-group-item-text">
                                        <span class="row">
                                            <span class="col-md-6">Text 1</span>
                                            <span class="col-md-6">Text 1</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        {{/each}}


                        <H3>Bench</H3>
                        {{#each roster.bench}}
                            <div class="list-group-item player-row">
                                <div class="row-action-primary">
                                    <img class="player-image" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{playerID}}.png&w=200&h=145"
                                         onerror="this.src='http://g.espncdn.com/s/ffllm/14//images/playerpop/design2/no-mugshot-7.png'">
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">{{firstName}} {{lastName}} </div>
                                    <p class="list-group-item-text">
                                        Stats
                                    </p>
                                </div>
                            </div>
                        {{/each}}

                    </div>
                </div>
            </div>
            <div class="well page" id="Players" style="display: none;">
                Players
            </div>
            <div class="well page" id="Standings" style="display: none;">
                Standings
            </div>
            <div class="well page" id="Scoreboard" style="display: none;">
                Scoreboard
            </div>
            <div class="well page" id="Teams" style="display: none;">
                Teams
            </div>
        </div>
    </div>
</div>